@CHARSET "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-size: 12px;
    color: #333;
    font-family: "Microsoft Yahei";
    overflow-x: hidden;
    background: #f7f7f7;
}
/*7*/
img, a {
    border: 0;
    text-decoration: none;
}
/*10*/
a {
    color: #333;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
/*12*/
img {
    max-width: 100%;
    height: auto;
}
/*13*/
.web-width {
    width: 1200px;
    margin: 0 auto;
}
/*19*/
.clears {
    clear: both;
}
/*20*/
.for-liucheng {
    width: 640px;
    margin: 30px auto;
    height: 50px;
    padding: 20px 0 0 0;
    position: relative;
}
/*21*/
.liulist {
    float: left;
    width: 25%;
    height: 7px;
    background: #ccc;
}
/*22*/
.liutextbox {
    position: absolute;
    width: 100%;
    left: 0;
    top: 10px;
}
/*23*/
.liutextbox .liutext {
    float: left;
    width: 25%;
    text-align: center;
}
/*24*/
.liutextbox .liutext em {
    display: inline-block;
    width: 24px;
    height: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    background: #ccc;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
}
/*25*/
.liutextbox .liutext strong {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-weight: 400;
}
/*26*/
.liulist.for-cur {
    background: #77b852;
}
/*27*/
.liutextbox .for-cur em {
    background: #77b852;
}
/*28*/
.liutextbox .for-cur strong {
    color: #77b852;
}

/*30*/
.forget-pwd {
    width: 500px;
    margin: 20px auto;
    min-height: 400px;
}
/*31*/
.forget-pwd input, .forget-pwd select, .forget-pwd button {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
}
/*32*/
.forget-pwd dl {
    margin-bottom: 20px;
}
/*33*/
.forget-pwd dt {
    float: left;
    padding-right: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
}
/*34*/
.forget-pwd dd {
    float: left;
    width: 380px;
    height: 35px;
    position: relative;
}
/*35*/
.forget-pwd dd input {
    width: 198px;
    height: 35px;
    border: #ccc 1px solid;
    text-align: center;
}

/*38*/
.forget-pwd .yanzma {
    position: absolute;
    left: 200px;
    top: 2px;
    height: 30px;
    line-height: 30px;
    width: 180px;
}
/*39*/
.subtijiao {
    padding: 0 0 0 110px;
}
/*40*/
.subtijiao input {
    width: 85px;
    height: 33px;
    background: #f60;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    margin-top:15px;
}
/*41*/
.successs {
    text-align: center;
    padding: 20px 0 60px 0;
}
.successs h3 {
    padding: 20px;
    font-size: 25px;
    color: #A0CD4E;
}
.show {
            display: block;
        }
        .hide {
            display: none;
        }
 #captcha2 {
            width: 200px;
            display: inline-block;
        }
       #notice2 {
            color: red;
        }
        
 .disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
/*邮箱验证*/
.ensureEmail{
	height: 30px; 
    width: 204px;
}
.ensureEmail>input, .ensureEmail>a {
    text-align: center;
    height: 30px;
    width: 96px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}
.ensureEmail>a {
    display: inline-block;
    background-color: #5cb85c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 100px;
    height: 34px;
    line-height: 34px
 	transition: all 0.5s;
    
}
.ensureEmail>a span {
  cursor: pointer;
  cursor: -ms-pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
	height:34px;
  line-height:34px
}
.ensureEmail>a span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.ensureEmail>a:hover span {
  padding-right: 15px;
}
.ensureEmail>a:hover span:after {
  opacity: 1;
  right: 0;
}
.ensureEmail>input:hover,.forget-pwd dd input:hover,.subtijiao input:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}
.bubble{
	display: none;
	color: red;
}