@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background: #F7F7F7;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -185px;
	margin-top: -280px;
	height: 420px;
	width: 340px;
	font-size: 18px;
	box-shadow: 4px 5px 10px #888888;
	-webkit-box-shadow: 4px 5px 10px #888888;
	background: #fff;
}

.border-btn {
	border-bottom: 2px solid #ccc;
}

#landing, #registered {
	float: left;
	text-align: center;
	width: 170px;
	padding: 15px 0;
	color: #545454;

}

#landing-content {
	clear: both;
}

.inp {
	height: 30px;
	margin: 0 auto;
	margin-bottom: 23px;
	width: 200px;
	position: relative;
}

.inp>input {
	text-align: center;
	height: 30px;
	width: 200px;
	margin: 0 auto;
	transition: all 0.3s ease-in-out;
	
}
.inp>input:hover,.ensureEmail>input:hover{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.login {
	border: 1px solid #A6A6A6;
	color: #a6a6a6;
	height: 30px;
	width: 202px;
	text-align: center;
	font-size: 13.333333px;
	margin-left: 70px;
	line-height: 30px;
	margin-top: 30px;
	transition: all 0.3s ease-in-out;
}

.login:hover {
	background: #A6A6A6;
	color: #fff;
	cursor: pointer;
	cursor: -ms-pointer;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
	
}

#bottom {
	margin-top: 30px;
	font-size: 13.333333px;
	color: #a6a6a6;
}

#registeredtxt {
	float: left;
	margin-left: 80px;
}

#forgotpassword {
	float: right;
	margin-right: 66px;
	cursor:pointer;
	cursor: -ms-pointer;
}
#forgotpassword:hover{
	color:red;
}

#photo {
	border-radius: 80px;
	border: 1px solid #ccc;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
}

#photo>img:hover {
	-webkit-transform: rotateZ(360deg);
	-moz-transform: rotateZ(360deg);
	-o-transform: rotateZ(360deg);
	-ms-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
}

#photo>img {
	height: 80px;
	width: 80px;
	-webkit-background-size: 220px 220px;
	border-radius: 60px;
	-webkit-transition: -webkit-transform 1s linear;
	-moz-transition: -moz-transform 1s linear;
	-o-transition: -o-transform 1s linear;
	-ms-transition: -ms-transform 1s linear;
}

#registered-content {
	margin-top: 20px;
}

.fix {
	clear: both;
}

.form {
	display: none;
}

#landing:hover, #registered:hover {
	cursor: pointer;
	cursor: -ms-pointer;
}

#registered-content small {
	color: #fff;
	border-radius: 5px;
	padding:4px;
	font-size: 12px;
	position: absolute;
	right: -170px;
    top: 0px;
    
    width:150px;
    
    
    background-color: rgb(196, 0, 0);
    color: rgb(255, 255, 255);
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid red;
    border-bottom: 5px solid transparent;
    position: absolute;
    left:-10px;
    top:5px;
}
.hidden {
	display: none;
}

.show {
	display: block;
}

/*邮箱验证*/
.ensureEmail{
	height: 30px;
    margin: 0 auto;
    margin-bottom: 23px;
    width: 204px;
    position: relative;
}
.ensureEmail>input,.ensureEmail>a{
	    text-align: center;
    height: 30px;
    width: 96px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}
.ensureEmail>a{
	display: inline-block;
  background-color: #5cb85c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  width: 100px;
  height:34px;
  line-height:34px
  transition: all 0.5s;
  float:right;
}
.ensureEmail>a span {
  cursor: pointer;
  cursor: -ms-pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
	height:34px;
  line-height:34px
}
.ensureEmail>a span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.ensureEmail>a:hover span {
  padding-right: 15px;
}
.ensureEmail>a:hover span:after {
  opacity: 1;
  right: 0;
}
#inputPassword+small{
	font-size:11px;
	line-height:13px;
	height:13px;
	display:inline-block;
}
#inputPassword+small >input{
	float:left;
	margin-right:5px;
}