@CHARSET "UTF-8";

#content {
	margin-top: 70px;
}
/*帖子内容*/
#mainContent li {
	float: left;
	width:100%;
}
#mainContent .panel-footer,#mainContent .panel-footer a{
	color:#dddddd;
	background:#ffffff;
}
#mainContent .panel-heading,#mainContent .panel-body,#mainContent .panel-footer{
	
	padding:3px 0 0 0;
}
#mainContent .panel{
	margin-bottom:1px;
}
#mainContent>ul>li{
	margin:2px 0;
	
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
/*#mainContent>ul>li:hover{
	 box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}*/

/*session头部*/
#sessionHead img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width:197px;
    height:197px;
   
}
#sessionHead small{
	font-size:12px;
}
#sessionHead small span{
	color:#ff7f3e;
	margin:0 10px;
	display:inline-block;
}
/*关注按钮和取消关注*/
#sessionHead .follow {
	border-radius: 4px;
     display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 80px;
    height: 34px;
    line-height: 34px;
	margin:4px 10px;
 transition: all 0.5s;
}

#sessionHead .follow span {
  cursor: pointer;
    cursor: -ms-pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    height: 34px;
    line-height: 34px;
}

#sessionHead .follow span:after {
  content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#sessionHead .follow:hover span {
  padding-right: 15px;
}

#sessionHead .follow:hover span:after {
  opacity: 1;
  right: 0;
}
#sessionHead .unfollow {
    background-color: #f4511e; 
    text-decoration:none;
    border-radius: 4px;
    border: none;
    color: white;
     width: 100px;
    height: 30px;
	line-height:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 10px 4px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#sessionHead .unfollow:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
}
#sessionHead .page-header{
	position:relative;
	padding-bottom:0px;
	padding-left:2px;
}
#sessionHead .page-header>p{
	position:absolute;
	bottom:-40px;
}
/*帖子左边的被赞，回复观看*/
#mainContent .thumbsUp{
	margin-top:10px;
}
#mainContent .thumbsUp p{
	text-align:right;
	color:#e2e1e1;
	line-height:20px;
	position:relative;
}
#mainContent .thumbsUp p span{
	color:#999;
}
#mainContent .activeSpan{
	position:absolute;
	bottom:2px;
	right:24px;
	opacity:0;
	height: 20px;
	transition:opacity 1s;
	-webkit-transition:opacity 1s; /* Safari */
}
#mainContent>ul>li:hover .activeSpan {
	opacity:1;
}
#mainContent .panel-body div{
	
	overflow:hidden; 
	text-overflow:ellipsis;
	width:100%;
	white-space:nowrap;
	}
#releaseTopic{
	padding:0 15px;
}
#releaseTopic .topicTitle input{
	margin:10px 0;
	height:32px;
	text-indent:12px;
	width:100%
}
#sessionName{
	position: relative;
    top: 7px;
	display: inline-block;
}