@CHARSET "UTF-8";
	body {
		margin-top: 10px;
	}
	
	.answer .votecell {
		vertical-align: top;
		padding-right: 15px;
	}
	
	.votecell .vote {
		min-width: 46px;
	}
	
	.vote-up-off {
		background-position: 0 -170px;
	}
	
	.answer {
		padding: 10px;
		border-bottom: solid 1px #e4e6e8;
		margin-bottom: 10px;
	}
	
	.answer .fw {
		float: right;
	}
	
	.answer .user-gravatar32,
	.user-details {
		vertical-align: baseline;
		display: inline-block;
	}
	
	.answer .post-signature {
		
		text-align: left;
		width: 200px;
		background-color: #d9edf7;
	}
	
	.answer .user-info {
		box-sizing: border-box;
		padding: 5px 6px 7px 7px;
		width: 200px;
		color: #6a737c;
	}
	
	.answer .user-info .user-action-time {
		margin-top: 1px;
		margin-bottom: 4px;
		font-size: 12px;
		white-space: nowrap;
	}
	
	.answer .user-info .user-gravatar32 {
		float: left;
		width: 32px;
		height: 32px;
		border-radius: 1px;
	}
	
	.answer a {
		color: #07C;
		text-decoration: none;
		cursor: pointer; cursor: -ms-pointer;
	}
	
	.user-info .user-gravatar32+.user-details {
		margin-left: 8px;
		width: calc(100% - 40px);
	}
	
	.answer .user-info .user-details {
		width: 140px;
	}
	
	.user-details {
		line-height: 17px;
		word-wrap: break-word;
	}
	
	.answer .comments {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	
	.answer .comments {
		width: 100%;
		margin-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #e4e6e8;
	}
	

	
	table {
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
	}
	
	.answer tr.comment>td {
		padding: 6px 6px 6px 0;
		vertical-align: top;
		line-height: 1.3;
		border-bottom: 1px solid #eff0f1;
	}
	
	.answer .comment-actions {
		padding-left: 3px;
		width: 15px;
	}
	
	.answer .comment-score span {
		font-size: 13px;
		font-weight: normal;
		padding-right: 4px;
	}
	
	.answer .cool,
	.answer .mini-counts.cool {
		color: #9199a1;
	}
	
	.answer tr.comment>td {
		padding: 6px 6px 6px 0;
		vertical-align: top;
		line-height: 1.3;
		border-bottom: 1px solid #eff0f1;
	}
	
	.answer .comment-text {
		font-size: 13px;
		line-height: 1.3;
	}
	
	.answer .comment-text,
	.answer .comment-form {
		padding: 0 6px 0 7px;
		vertical-align: text-top;
	}
	
	.answer a.comment-user {
		white-space: nowrap;
		padding: 0;
	}
	
	.answer .comment-date,
	.answer .comment-date>a,
	.answer .comment-date>a:hover {
		border-bottom: none;
		color: #9199a1;
	}
	
	.answer .comment-date {
		color: #848d95;
	}
	
	.answer .comments-link {
		color: #848d95;
		opacity: .6;
		padding: 0 3px 2px 3px;
	}
	
	

	
	
	
	.module {
		word-wrap: break-word;
		padding: 5px 15px;
	}
	
	.module {
		margin-bottom: 1.5em;
	}
	
	.label-key {
		color: #9199a1;
		font-size: 14px;
	}
	#qinfo{
		width: 80%;
	}
	p {
		clear: both;
		margin-bottom: 1em;
		margin-top: 0;
	}
	
	.label-key {
		color: #9199a1;
		font-size: 14px;
	}
	
	.label-key b,
	.label-key strong {
		color: #3b4045;
		font-weight: normal;
	}
	
	b,
	strong {
		font-weight: bold;
}

.answercell{
	 width:100%;
}

/*回复框*/
#Demo{
	height:150px;
}
#Demo .Input_Box {
	width: 495px;
	height: 153px;
	border: 1px solid #ccc;
	transition: border linear .2s, box-shadow linear .5s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .5s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .5s;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	position: absolute;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
#Demo .Input_Box>textarea {
	width: 485px;
	height: 111px;
	padding: 5px;
	outline: none;
	border: 0px solid #fff;
	resize: none;
	font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#Demo .Input_Foot {
	width: 100%;
	height: 35px;
	border-top: 1px solid #ccc;
	background-color: #fff;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	position: absolute;
}
#Demo .imgBtn {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	background-image: url(../img/imgs.png);
	background-repeat: no-repeat;
	background-position: 0 -13px;
	height: 18px;
	width: 20px;
	cursor: pointer ;
	cursor: -ms-pointer;
}
#Demo .imgBtn:active {
	margin-top: 9px;
}
#Demo .imgBtn:hover {
	background-position: 0 -31px
}
#Demo .postBtn {
	float: right;
	font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
	color: #808080;
	padding: 9px 20px 7px 20px;
	border-left: 1px solid #ccc;
	cursor: pointer;
	 cursor: -ms-pointer;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}
#Demo .postBtn:hover {
	color: #333;
	background-color: #efefef;
}
#Demo .postBtn:active {
	padding: 10px 20px 6px 20px;
}
#Demo .faceDiv {
	width: 496px;
	height: 120px;
	border-top: 1px solid #ccc;
	position: absolute;
	background-color: #fff;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#Demo .faceDiv>img {
	border: 1px solid #ccc;
	float: left;
	margin-left: -1px;
	margin-top: -1px;
	position: relative;
	width: 32px;
	height: 32px;
	padding: 3px 3px 3px 3px;
	cursor: pointer;
	 cursor: -ms-pointer;
}
#Demo .faceDiv>img:hover {
	background-color: #efefef;
}
#Demo .faceDiv>img:active {
	padding: 4px 3px 2px 3px;
}
/*点赞*/
  .date-dz-z {
    font-size: 12px;
    color: #8b8b8b;
    font-family: "Microsoft Yahei";
    cursor: pointer;
    cursor: -ms-pointer;
}
.red {
    background-position: -6px -119px !important;
}

.date-dz-z-click-red {
    width: 17px;
    height: 17px;
    display: block;
    float: left;
    background-image: url(../img/icon-all_01.png);
    background-repeat: no-repeat;
    background-position: -6px -198px;
    margin-right: 5px;
}
.date-dz-z-click {
    color: #b83b44;
}
.pull-left{float: left !important;}
#nowTopicName{
	cursor: pointer;
	cursor: -ms-pointer;
}
#questionMain{
	border: 1px solid #e4e6e8;
    overflow: auto;
}
