	body {
		margin-top: 10px;
	}
	
	.answer .votecell {
		vertical-align: top;
		padding-right: 15px;
	}
	
	.votecell .vote {
		min-width: 46px;
	}
	
	.vote-up-off {
		background-position: 0 -170px;
	}
	
	.answer {
		padding: 10px;
		border-bottom: solid 1px #e4e6e8;
		margin-bottom: 10px;
	}
	
	.answer .fw {
		float: right;
	}
	
	.answer .user-gravatar32,
	.user-details {
		vertical-align: baseline;
		display: inline-block;
	}
	
	.answer .post-signature {
		
		text-align: left;
		width: 200px;
		background-color: #E0EAF1;
	}
	
	.answer .user-info {
		box-sizing: border-box;
		padding: 5px 6px 7px 7px;
		width: 200px;
		color: #6a737c;
	}
	
	.answer .user-info .user-action-time {
		margin-top: 1px;
		margin-bottom: 4px;
		font-size: 12px;
		white-space: nowrap;
	}
	
	.answer .user-info .user-gravatar32 {
		float: left;
		width: 32px;
		height: 32px;
		border-radius: 1px;
	}
	
	.answer a {
		color: #07C;
		text-decoration: none;
		cursor: pointer;
	}
	
	.user-info .user-gravatar32+.user-details {
		margin-left: 8px;
		width: calc(100% - 40px);
	}
	
	.answer .user-info .user-details {
		width: 140px;
	}
	
	.user-details {
		line-height: 17px;
		word-wrap: break-word;
	}
	
	.answer .comments {
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
	
	.answer .comments {
		width: 100%;
		margin-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #e4e6e8;
	}
	

	
	table {
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
	}
	
	.answer tr.comment>td {
		padding: 6px 6px 6px 0;
		vertical-align: top;
		line-height: 1.3;
		border-bottom: 1px solid #eff0f1;
	}
	
	.answer .comment-actions {
		padding-left: 3px;
		width: 15px;
	}
	
	.answer .comment-score span {
		font-size: 13px;
		font-weight: normal;
		padding-right: 4px;
	}
	
	.answer .cool,
	.answer .mini-counts.cool {
		color: #9199a1;
	}
	
	.answer tr.comment>td {
		padding: 6px 6px 6px 0;
		vertical-align: top;
		line-height: 1.3;
		border-bottom: 1px solid #eff0f1;
	}
	
	.answer .comment-text {
		font-size: 13px;
		line-height: 1.3;
	}
	
	.answer .comment-text,
	.answer .comment-form {
		padding: 0 6px 0 7px;
		vertical-align: text-top;
	}
	
	.answer a.comment-user {
		white-space: nowrap;
		padding: 0;
	}
	
	.answer .comment-date,
	.answer .comment-date>a,
	.answer .comment-date>a:hover {
		border-bottom: none;
		color: #9199a1;
	}
	
	.answer .comment-date {
		color: #848d95;
	}
	
	.answer .disabled-link {
		color: #848d95;
		opacity: .6;
		padding: 0 3px 2px;
	}
	
	.answer .comments-link {
		padding: 0 3px 2px 3px;
	}
	
	#answers-header {
		margin-top: 10px;
		
	}
	
	
	
	.module {
		word-wrap: break-word;
		padding: 5px 15px;
	}
	
	.module {
		margin-bottom: 1.5em;
	}
	
	.label-key {
		color: #9199a1;
		font-size: 14px;
	}
	#qinfo{
		width: 80%;
	}
	p {
		clear: both;
		margin-bottom: 1em;
		margin-top: 0;
	}
	
	.label-key {
		color: #9199a1;
		font-size: 14px;
	}
	
	.label-key b,
	.label-key strong {
		color: #3b4045;
		font-weight: normal;
	}
	
	b,
	strong {
		font-weight: bold;
}
/*楼中楼回复*/
.lzl_editor_container_s {
    padding-top: 13px;
}
.lzl_editor_container .edui-container {
    position: relative;
}
.lzl_editor_container div.edui-editor-body {
    border: 2px solid #d6dffa;
}
.lzl_editor_container .edui-editor-body {
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-left-color: #9a9a9a;
    border-top-color: #9a9a9a;
    background-color: #fff;
}
.lzl_editor_container .edui-editor-top,.lzl_editor_container .edui-editor-bottom {
    font-size: 0;
}
.lzl_editor_container .edui-editor-body .edui-body-container {
    outline: none;
    padding: 0 0 0 10px;
    word-wrap: break-word;
    font-size: 14px;background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.lzl_editor_container .edui-editor-body .edui-body-container p {
    margin: 5px 0;
}
.lzl_editor_container .edui_at_box {
    position: absolute;
    z-index: 3;
    padding: 4px 0;
    border: 1px solid #c1c6cc;
    background-color: #fff;
    white-space: nowrap;
    line-height: 16px;
}


.lzl_editor_container .edui_at_box .at_box_title {
    padding-right: 10px;
    padding-left: 7px;
    color: #676767;
}
.lzl_editor_container ul,.lzl_editor_container li {
    margin: 0;
    padding: 0;
}

.lzl_editor_container ul,.lzl_editor_container ol,.lzl_editor_container li {
    list-style: none;
}
.lzl_editor_container .edui-editor-msg {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.lzl_editor_container .wordlimit-holder {
    position: absolute;
    right: -2px;
    top: -25px;
    height: 22px;
    background-color: #C6DFFA;
    color: #6184AA;
    font-size: 12px;
    font-family: SimSun;
    padding: 0 8px 3px;
}
.lzl_editor_container .lzl_panel_error {
    color: red;
}
.lzl_editor_container .lzl_panel_wrapper {
  /*  width: 531px;*/
    margin-top: 11px;
    zoom: 1;
        background-color: transparent;
            border-collapse: collapse;
    border-spacing: 0;
}
.lzl_editor_container tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.lzl_editor_container .lzl_panel_wrapper td {
    vertical-align: bottom;
}
.lzl_editor_container .lzl_panel_btn {
    line-height: 24px;
    zoom: 1;
}
.lzl_editor_container .lzl_panel_submit {
    background: url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat -344px -7px;
}
.lzl_editor_container .lzl_panel_submit {
    cursor: pointer;
    float: right;
    width: 51px;
    height: 24px;
    color: #FFF;
    text-align: center;
    background: url(http://tb2.bdstatic.com/tb/static-ppb/img/pb_css_pic_a630a08.png) no-repeat -344px -7px;
}

.lzl_editor_container .lzl_panel_smile {
    cursor: pointer;
    float: right;
    width: 40px;
    height: 24px;
    margin-right: 6px;
    z-index: 10;
}
.lzl_editor_container .lzl_insertsmiley_holder {
    z-index: 11;
    position: relative;
    width: 33px;
    height: 22px;
    background: url(http://tb2.bdstatic.com/tb/static-pcommon/img/poster/insertsmiley_icon_711ec2d.png) no-repeat;
    cursor: pointer;
}
.lzl_editor_container .lzl_edui_dialog_container {
    display: none;
    z-index: 1;
    top: 29px;
    left: -412px;
    position: absolute;
    background: #e5e5e5;
    padding: 2px;
}
.lzl_editor_container .inde_edui_dropdown_menu {
    border: 1px solid #bfbfbf;
    background-color: #fff;
}
.lzl_editor_container .inde_edui_popup_caret {
    top: -8px;
    right: 53px;
    position: absolute;
    width: 21px;
    height: 11px;
    background: url(http://tb2.bdstatic.com/tb/static-pcommon/img/poster/caret_png8_aaf26a1.png) no-repeat 0 0;
}

.emotion_container {
    width: 550px;
    overflow: hidden;
}
.emotion_container .s_layer_content {
    height: 272px;
}
.tbui_no_scroll_bar {
    padding-right: 0;
}
.tbui_scroll_panel .tbui_panel_content {
    overflow: hidden;
}
.emotion_container table.s_layer_table {
    border: 0;
}
.emotion_container table.s_layer_table td {
    vertical-align: middle;
    border-color: #e3e3e3;
}
.emotion_container .s_face .img {
    background: transparent url(//tb2.bdstatic.com/tb/editor/images/default/fFace.png?t=20140529&t=1505996172127) no-repeat scroll left top;
    width: 30px;
    height: 30px;
}
.tbui_scroll_panel .tbui_scroll_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    background: #F2F2F2;
}
.tbui_scroll_panel .tbui_scroll_button {
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    background: #FFF;
    border: 1px solid #E0E0E0;
    cursor: default;
}
