<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
  <display-name>ITForum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>FollowAndUnfollowServlet</servlet-name>
  	<servlet-class>servlet.FollowAndUnfollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FollowAndUnfollowServlet</servlet-name>
  	<url-pattern>/FollowAndUnfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/Topic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadFileTopicServlet</servlet-name>
    <servlet-class>servlet.UploadFileTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileTopicServlet</servlet-name>
    <url-pattern>/UploadFileTopic</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AuthenticateServlet</servlet-name>
    <servlet-class>servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticateServlet</servlet-name>
    <url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>StartCaptchaServlet2</display-name>
    <servlet-name>StartCaptchaServlet2</servlet-name>
    <servlet-class>utils.demo.demo2.StartCaptchaServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>VerifyLoginServlet2</display-name>
    <servlet-name>VerifyLoginServlet2</servlet-name>
    <servlet-class>utils.demo.demo2.VerifyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyLoginServlet2</servlet-name>
    <url-pattern>/gt/ajax-validate2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartCaptchaServlet2</servlet-name>
    <url-pattern>/gt/register2</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>