<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID">
  <display-name>ITForum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet设置 -->
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <!-- 邮箱验证码 -->
  <servlet>
  	<servlet-name>AuthenticateServlet</servlet-name>
  	<servlet-class>servlet.AuthenticateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthenticateServlet</servlet-name>
  	<url-pattern>/AuthenticateServlet</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
		<servlet-name>StartCaptchaServlet2</servlet-name>
		<display-name>StartCaptchaServlet2</display-name>
		<description></description>
		<servlet-class>demo.demo2.StartCaptchaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyLoginServlet2</servlet-name>
		<display-name>VerifyLoginServlet2</display-name>
		<description></description>
		<servlet-class>demo.demo2.VerifyLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyLoginServlet2</servlet-name>
		<url-pattern>/gt/ajax-validate2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StartCaptchaServlet2</servlet-name>
		<url-pattern>/gt/register2</url-pattern>
	</servlet-mapping>
  <!-- 过滤器 -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>